body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Optional: Prevent scrolling if the canvas is meant to fill the screen */
    background-color: darkslategrey;
}

#matter-container {
    width: 100%;
    height: 100%;
    position: relative; /* Ensures the container can properly contain the absolutely positioned canvas */
}

#simulation-title {
    color: white; /* Ensure the title is visible against the black background */
    text-align: center; /* Center the title horizontally */
    margin-top: 20px; /* Add some space above the title */
}


